:root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;
}

.light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
}
html, body{
    font-family: 'Roboto', sans-serif;
	background: var(--main-bg-color);
	color: var(--main-color);
	margin: 0;
}
.s-header{
    background-color: #ffffff;;
    width: 100%; 
    display: flex;
    /* border: 1px solid black; */
    flex-direction: row;
	box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
}
.s-header-logo-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.nav-link {
	float: left;
	text-align: center;
	padding: 21px 10px;
	text-decoration: none;
	font-size: 17px;
	color: var(--second-color);
	position: relative;
}
.s-logo{
    padding-top: 11%;
}
.s-logo-nav{
    padding-left: 20%;
}
.s-container{
    width: 5%;
	height: 100vh;
	position: fixed;
	background: #ffffff;    
    /* border: 1px solid black; */
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
	overflow: hidden;
	z-index: 100;
	transition: width .5s;
}
.s-container-expend{
	width: 18%;
}
.nav-link > span{
	cursor: pointer;
}
/* .s-container:hover{
    width: 18%;
} */
.s-sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}
.s-sidebar-nav-item {
	width: 100%;
}
.s-sidebar-nav-link {
	display: flex;
	align-items: center;
	color: var(--main-color);
	text-decoration: none;
}
.s-sidebar-nav-link i {
	font-size: 1.5rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.s-sidebar-nav-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.s-sidebar-nav-link:hover {
	background: var(--second-bg-color);
}
.s-sidebar-nav-link.active {
	background: var(--second-bg-color);
	color: var(--danger-color);
}

.s-sidebar-nav-link.active div {
	border-left: 5px solid var(--danger-color);
}

.s-sidebar-nav-link.active i {
	color: var(--danger-color);
	margin-left: -5px;
}

.s-sidebar-expand .sidebar {
	width: 250px;
}

.s-sidebar-expand .wrapper {
	margin-left: 250px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
/* .s-header > .s-logo{
    
    margin: 1px;
}
.s-container{
display: flex;
width: 100%;
height: 100%;
}
.s-aside{
    display: flex;
    width: 19%;
   
    background-color: gray;
    min-height: 100%;
}
.s-aside > ul{
    top: 0;
    list-style-type: none;
    padding: 20%;
}
.s-aside > ul > li{
    line-height: 300%;
}
.s-section{
width: 100%;
height: 100%;
background-color: hotpink;
display: flex;
} */
 /* .s-sidebar{
    background-color: darkgrey;
    width: 25%;
    height: 100%;
    position: absolute;
}
ul.s-sidebar-list > li{
    list-style: none;
}
.s-sidebar-list > li{
    padding: 5%;
}
.s-sidebar-list > li > a{
    text-decoration: none;
    color: black;
} */
/*.s-panel{
    background-color: whitesmoke;
    width: 20%;
    height: 40%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    margin: 4% 26%;
    border-radius: 10px;
} */