body{
    margin: 0;
}
.s-header{
 background-color: darkgrey;
 height: 53px;
 width: 100%;  }
 .s-sidebar{
    background-color: darkgrey;
    width: 25%;
    height: 100%;
    position: absolute;
}
ul.s-sidebar-list > li{
    list-style: none;
}
.s-sidebar-list > li{
    padding: 5%;
}
.s-sidebar-list > li > a{
    text-decoration: none;
    color: black;
}
/*.s-panel{
    background-color: whitesmoke;
    width: 20%;
    height: 40%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    margin: 4% 26%;
    border-radius: 10px;
} */