.s-header{
 background-color: darkgrey;
 height: 53px;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
}
.s-sidebar{
    background-color: darkgrey;
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
}